<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Forgot Password</title>
</head>
<body>
    <form method="POST" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
        {% for error in non_field_errors %}
        {{error}}
        {% endfor %}
        {% endif %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


</body>
</html>