<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href="{% static 'login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>AMS | Login</title>
    <style>
        
    </style>
</head>
<body>
    
    {% if messages %}
      {% for message in messages %}
      <div class="message">
         <p>{{ message }}</p>
      </div>
      {% endfor %}
    {% endif %}

   <div class="box">
    <div class="container">
       
        <div class="top">
            <header>Login</header>
        </div>
        
        <!-- {%if form.non_field_errors %}
        {% for errors in form.non_field_errors %}
        {{errors}}
        {% endfor %}
        {% endif %} -->

        <form method="POST" >
           
            {% csrf_token %}
        <div class="input-field">
            {{form.username}}
            <i class='bx bx-user' ></i>
            
        </div>
        
        
        <div class="input-field">
           {{form.password}}
            <i class='bx bx-lock-alt'></i>
            {{form.password.errors}}
        </div>
    
        <div class="input-field">
            <input type="submit" class="submit" value="Login" id="">
        </div>
        </form>

        <div class="two-col">
            <div class="one">
               <input type="checkbox" name="" id="check">
               <label for="check"> Remember Me</label>
            </div>
            <div class="two">
                <label><a href="{% url 'forgot' %}">Forgot password?</a></label>
            </div>
        </div>
    </div>
</div>  

    <ul class="circles">
    <li><img class="logos" src="{% static 'images/deerwalklogo.png'%}" alt></li>
    <li><img class="logos" src="{% static 'images/deerwalklogo.png'%}" alt></li>
    <li><img class="logos" src="{% static 'images/deerwalklogo.png'%}" alt></li>
    <li><img class="logos" src="{% static 'images/deerwalklogo.png'%}" alt></li>
    <li><img class="logos" src="{% static 'images/deerwalklogo.png'%}" alt></li>
    <li><img class="logos" src="{% static 'images/deerwalklogo.png'%}" alt></li>
    <li><img class="logos" src="{% static 'images/deerwalklogo.png'%}" alt></li>
    <li><img class="logos" src="{% static 'images/deerwalklogo.png'%}" alt></li>
    <li><img class="logos" src="{% static 'images/deerwalklogo.png'%}" alt></li>
    <li><img class="logos" src="{% static 'images/deerwalklogo.png'%}" alt></li>
    </ul>

</body>
</html>