{% extends 'core/base.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static 'course.css' %}">
{% endblock link %}
{% block Title %} Logged In {% endblock Title %}
{% block body %}

<div class="center">
 <div class="blog_post">
  <div class="img_pod">
    <img src="{% static 'images/deerwalklogo.png' %}" alt="random image" class="teacher-img">
  </div>
  <div class="container_copy">
    <h3>Course  </h3>
    <h1>Data Science </h1>
    <h3>Teacher  </h3>
    <h1>Umesh Regmi </h1>
    <h3>Description  </h3>
    <p>This Course is Taught by Umesh Regmi.</p>
    <div class="button2">
    <a  href="{% url 'display-calendar' %}"><button class="calendar"> Take Attendance</button> </a>
    <a  href='#' ><button class="cal-report">Report </button> </a>
    </div>
  </div>
</div>
</div>

{% endblock body %}















{% comment %}

<!-- <P Class="course">{{course.course.title}}</P>
<div class="container">
  <form method="POST">
    <select name="status">
      <option>Absent</option>
      <option>Present</option>
    </select><br>
    <button type="submit">Submit</button>
  </form>
</div> -->

<!-- {% if messages %}
{% for message in messages %} 
<div class="alert alert-success" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}
{% endif %} -->

{% endcomment %}