{% extends 'core/base.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static 'course.css' %}">
{% endblock link %}
{% block Title %} Logged In {% endblock Title %}
{% block body %}

<div class="center">
  <h1 class="h1">Courses Taught</h1>
  {% for course_info in course_detail %}
  <div class="blog_post">
    <!-- <div class="img_pod">
      <img src="{{course_info.person.my_image.url}}" alt="random image" class="teacher-img">
    </div> -->
    <!-- <a href="{% url 'display-calendar' course_info.id %}" class="course_anchor"> -->
  <div class="container_copy">
    <h3>Course Name </h3>
    <h1>{{course_info.title}} </h1>
    <h3> Teacher  </h3>
    <h1>{{course_info.person.user.first_name}} {{course_info.person.user.last_name}} </h1>
    <h3>Description  </h3>
    <p>This Course is Taught by {{course_info.person.user.first_name | title}} {{course_info.person.user.last_name | title}}</p>
    <div class="button2">
    <a  href="{% url 'display-calendar' course_info.id %}"><button class="calendar"> Take Attendance</button> </a>
    <a  href="{% url 'download-report' data=course_info.id  %}"><button class="cal-report">Report </button> </a>
    </div>
  </div>
<!-- </a> -->
</div>
{% endfor %}
</div>
{% endblock body %}

{% comment %}

<!-- <P Class="course">{{course.course.title}}</P>
<div class="container">
  <form method="POST">
    <select name="status">
      <option>Absent</option>
      <option>Present</option>
    </select><br>
    <button type="submit">Submit</button>
  </form>
</div> -->

<!-- {% if messages %}
{% for message in messages %} 
<div class="alert alert-success" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}
{% endif %} -->

{% endcomment %}