<!DOCTYPE html>
{% load static %}
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>AMS | Edit Profile </title>
    <!---Custom CSS File--->
    <link rel="stylesheet" href="{% static 'edit-profile.css' %}" />
    <link rel="stylesheet" href="{% static 'nav.css' %}">
  </head>
  <body>
    {% include "core/nav.html" %}
    <div class="main-body">
    <section class="container">
      <header>Edit Profile Details </header>
      <form  class="form" method="POST">
        {% csrf_token %}
        <div class="input-box">
          <label>First Name</label>
          <input type="text" value="{{datas.user.first_name}}" required disabled />
        </div>
        <div class="input-box">
          <label>Last Name</label>
          <input type="text" value="{{datas.user.last_name}}" required disabled />
        </div>
        <div class="column">
          <div class="input-box">
            <label>Email Address</label>
            <input type="email" value="{{datas.user.email}}" name="email" required />
          </div>
          <div class="input-box">
            <label>Birth Date</label>
            <input type="text" value="{{datas.DOB}}" name="DOB" required  disabled/>
          </div>
        </div>
        <div class="column">
          <div class="input-box">
            <label>Phone Number(Primary)</label>
            <input type="tel" value="{{datas.primary_number}}" name="primary_number" required maxlength="10" minlength="10"/>
          </div>
          <div class="input-box">
            <label>Phone Number(Secondary)</label>
            <input type="tel" value="{{datas.secondary_number}}" name="secondary_number" required maxlength="10" minlength="10"/>
          </div>
        </div>
        <div class="input-box">
          <label for="gender">Gender</label>
          <br>
          <select id="gender" name="gender" disabled>
            {% if datas.sex == 'M' %}
            <option value="Male" selected>Male</option>
            {% else %}
            <option value="Female" selected>Female</option>
            {% endif %}
          </select>
        </div>
        <div class="input-box address">
          <label>Address</label>
          <input type="text" value="{{datas.address}}" name="address" required >
          <div class="column">
            <input type="text" value="Enter your city" required >
          </div>
        </div>
        <button class="button2">Submit</button>
      </form>
    </section>
  </div>
  </body>
</html>