<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <!-- ===== ===== Custom Css ===== ===== -->
    <link rel="stylesheet" href="{% static 'profile_style.css'%}">
    <link rel="stylesheet" href="{% static 'profile_responsive.css'%}">
    <link rel="stylesheet" href="{% static 'nav.css'%}">

    <!-- ===== ===== Remix Font Icons Cdn ===== ===== -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    {% include 'core/nav.html' %}
    
    <div class="body">
    <!-- ===== ===== Body Main-Background ===== ===== -->
    <span class="main_bg"></span>
    
    <!-- ===== ===== Main-Container ===== ===== -->
    <div class="container">
        

        <!-- ===== ===== Header/Navbar ===== ===== -->
        <header>
            <div class="brandLogo">
                <figure><img src="{% static 'images/deerwalklogo.png' %}" alt="logo" width="40px" height="40px"></figure>
                <span> Deerwalk Institute Of Technology</span>
            </div>
        </header>


        <!-- ===== ===== User Main-Profile ===== ===== -->
        <section class="userProfile card">
            <div class="profile">
                <figure><img src="{{profile.my_image.url}}" alt="profile" width="250px" height="250px"></figure>
            <div class="media-file">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button class="remove"><a href="{% url 'image-delete' %}">Remove</a></button>
                        <button class="upload" type="submit">Upload</button>
                    </form>
            </div> 
            </div>  
        </section>
        

        <!-- ===== ===== Work & Skills Section ===== ===== -->
        <section class="work_skills card">
            <!-- ===== ===== Work Container ===== ===== -->
            <div class="work">
                <h1 class="heading">work</h1>
                <div class="primary">
                    <h1>Deerwalk Institute of Technology</h1>
                    <!-- <span>Primary</span> -->
                    <p> Sifal <br> Kathmandu, Nepal</p>
            </div>
                <br>
                <br>
                
            <!-- ===== ===== Skills Contaienr ===== ===== -->
            <div class="skills">
                <h1 class="heading">Skills</h1>
                <ul>
                    <li style="--i:0">Android</li>
                    <li style="--i:1">Web-Design</li>
                    <li style="--i:2">UI/UX</li>
                    <li style="--i:3">Video Editing</li>
                </ul>
            </div>
        </section>


        <!-- ===== ===== User Details Sections ===== ===== -->
        <section class="userDetails card">
            <div class="userName">
                <h1 class="name">{{profile.user.first_name}} {{profile.user.last_name}}</h1>
                <div class="map">
                    <i class="ri-map-pin-fill ri"></i> 
                    <span>{{profile.address}}</span>
                </div>
                <h2>Courses Taught:</h2>
                {% for course_info in course_detail %}
                <p>{{course_info.title}} &nbsp; &nbsp; Instructor</p>
                {% endfor %}
            </div>
                <br>
            <div class="rank">
                <h1 class="heading">Rankings Yaha Course Paxi ko review anusar ko rating</h1>
                <!-- Rating field bata previous year ko rating ko data lyaune tei anusar star rakh
                if rating gt something this rating else this rating 
                
                {% comment %}
                {{profile.rating as rank}}
                <span>{{rank}}</span>
                {% if rank > 1 and rank <= 2%}
                <div class="rating">
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate underrate"></i>
                    <i class="ri-star-fill rate underrate"></i>
                    <i class="ri-star-fill rate underrate"></i>
                </div>
                {% elif rank >2 and <=3 %}
                <div class="rating">
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate underrate"></i>
                    <i class="ri-star-fill rate underrate"></i>
                </div>
                {% elif rank >3 and <=4 %}
                <div class="rating">
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate underrate"></i>
                </div>
                {% else}
                <div class="rating">
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                </div>

                {% endcomment %}
                 -->
                <span>8,6</span>
                <div class="rating">
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate underrate"></i>
                    <i class="ri-star-fill rate underrate"></i>
                </div>
            </div>

        </section>
       



        <!-- ===== ===== Timeline & About Sections ===== ===== -->
        <section class="timeline_about card">
            <div class="tabs">
                <ul>
                    <li class="timeline">
                        <i class="ri-briefcase-4-fill"></i> &nbsp;
                        <span>Experience</span>
                    </li>

                    <li class="about active">
                        <i class="ri-user-3-fill ri"></i>
                        <span>About</span>
                    </li>
                </ul>
            </div>

            <div class="contact_info">
                <h1 class="heading"> Contact Information</h1>
                <ul>
                    <li class="phone">
                        <h1 class="label">Phone:</h1> 
                        <!-- Js use garera input box dini ki tw naya page ma render garni 
                        ani form display garera input lini -->
                        <span class="info"> 
                            {{profile.primary_number}} (Primary) <br> {{profile.secondary_number}} (Secondary) </span>
                        
                    </li>
                    </li>

                    <li class="address">
                        <h1 class="label">Address:</h1>
                        <span class="info">{{profile.address}} <br> Address Detail</span>
                    </li>

                    <li class="email">
                        <h1 class="label">E-mail:</h1>
                        <span class="info">{{profile.user.email}}</span> &nbsp; &nbsp; 
                    </li>

                    <li class="site">
                        <h1 class="label">Social Media :</h1>
                        <!-- Take Links from Model Field -->
                        <a href="facebook-link"><i class="ri-facebook-circle-line"></i> &nbsp; </a>
                        <a href="twitter-link"><i class="ri-twitter-line"></i> &nbsp; </a>
                        <a href="github-link"><i class="ri-github-fill"></i> &nbsp; </a>
                        <a href="linkedin-link"><i class="ri-linkedin-box-fill"></i> &nbsp; </a>
                    </li>
                </ul>
            </div>

            <div class="basic_info">
                <h1 class="heading">Basic Information</h1>
                <ul>
                    <li class="birthday">
                        <h1 class="label">Date Of Birth:</h1>
                        <span class="info">{{profile.DOB}}</span>
                    </li>

                    <li class="sex">
                        <h1 class="label">Gender:</h1>
                        <span class="info">{{profile.sex}}</span>
                    </li>
                </ul>
            </div>
                <div class="edit-profile">
                    <a href="{% url 'edit-profile'  %}"><button class="button2"><i class="ri-pencil-fill"></i>Edit Profile</button></a>
                </div>
        </section>
    </div>
</div>
</body>
</html>
